<h1><ins> Welcome to Sheets Cards Game</ins> </h1>
<br>
<h3> In this game, you must choose if the next card displayed is in between the two original cards. <br> 
	Choose Yes if you think the next card will rank between the two cards already face up. <br>
	Choose No if you want a new hand.  <br>
	If you click Yes and the new card ranks between the original two cards displayed, you win. <br>
	If your card does not rank between the original two cards, you lose. <br>
	If your card equals one of the two original cards, you lose double. <br>
	Ace is low, and player loses on a tie. <br>
	To reset your cash to $100, completely quit the browser and restart the program. </h3>
<body bgcolor="#E6E6FA">
<br>
<h2> <i> <ins>Current Cash $<%= @game.cash %> </ins> </i> </h2>
<br>
 <h2> Can you split the two cards below? </h2>
<% if @game.c1.to_s == "1" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/5/57/Playing_card_heart_A.svg">
	  <% elsif @game.c1.to_s == "2" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/d/d5/Playing_card_heart_2.svg">
	  <% elsif @game.c1.to_s == "3" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/b/b6/Playing_card_heart_3.svg">
	  <% elsif @game.c1.to_s == "4" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/a/a2/Playing_card_heart_4.svg">
	  <% elsif @game.c1.to_s == "5" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/5/52/Playing_card_heart_5.svg">
	  <% elsif @game.c1.to_s == "6" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/c/cd/Playing_card_heart_6.svg">
	  <% elsif @game.c1.to_s == "7" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/9/94/Playing_card_heart_7.svg">
	  <% elsif @game.c1.to_s == "8" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/5/50/Playing_card_heart_8.svg">
	  <% elsif @game.c1.to_s == "9" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/5/50/Playing_card_heart_9.svg">
	  <% elsif @game.c1.to_s == "10" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/9/98/Playing_card_heart_10.svg">
	  <% elsif @game.c1.to_s == "11" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/4/46/Playing_card_heart_J.svg">
	  <% elsif @game.c1.to_s == "12" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/7/72/Playing_card_heart_Q.svg">
	  <% elsif @game.c1.to_s == "13" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/d/dc/Playing_card_heart_K.svg">
	 <% end %>



	 <% if @game.c3.to_s == "1" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/5/57/Playing_card_heart_A.svg">
	  <% elsif @game.c3.to_s == "2" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/d/d5/Playing_card_heart_2.svg">
	  <% elsif @game.c3.to_s == "3" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/b/b6/Playing_card_heart_3.svg">
	  <% elsif @game.c3.to_s == "4" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/a/a2/Playing_card_heart_4.svg">
	  <% elsif @game.c3.to_s == "5" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/5/52/Playing_card_heart_5.svg">
	  <% elsif @game.c3.to_s == "6" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/c/cd/Playing_card_heart_6.svg">
	  <% elsif @game.c3.to_s == "7" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/9/94/Playing_card_heart_7.svg">
	  <% elsif @game.c3.to_s == "8" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/5/50/Playing_card_heart_8.svg">
	  <% elsif @game.c3.to_s == "9" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/5/50/Playing_card_heart_9.svg">
	  <% elsif @game.c3.to_s == "10" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/9/98/Playing_card_heart_10.svg">
	  <% elsif @game.c3.to_s == "11" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/4/46/Playing_card_heart_J.svg">
	  <% elsif @game.c3.to_s == "12" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/7/72/Playing_card_heart_Q.svg">
	  <% elsif @game.c3.to_s == "13" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/d/dc/Playing_card_heart_K.svg">
	 <% end %>
<br>
<br>




<h3> Do you want to play this hand? </h3>

<form method="POST" action="/">
	<select name= "yesorno">
<option value="yes">yes</option>
<option value="no">no</option>
	</select>
	<input type="submit" >


</form>



<br> <br>

 <br> <br>
<address> Luke and Alden Incorporated </address>