<h1> Instructions: </h1>
<body bgcolor="#E6E6FA">
<h3> In this game, you must choose if the next card displayed is in between the two cards original cards. <br> 
	Choose Yes if you think the next card will rank between the two cards already face up. Choose No if you want a new hand.  <br>
	If you click Yes and the new card is between the original two cards displayed, you win. <br>
	If your card is not in between the original two cards, you lose. <br>
	Ace is low and player loses on a tie.</h3>
<br>
<br>

<a href="/"> Ready to Play? Click Here <a>
<br> <br> <br> <br> <br>


<address> Luke and Alden Incorporated </address>

