<h1> Instructions: </h1>
<h3> In this game, you must try to guess a card that is in between the two cards displayed. <br> 
	Choose yes if you think the next card will be in between the first two cards. <br>
	If you click yes and the card is between the original two, you win. <br>
	If your card is not in between the original two cards, you lose. <br>
	Ace is low and player loses on a tie.</h3>
<br>
<br>

<a href="/"> Ready to Play? Click Here <a>
<br> <br>

<address> Luke and Alden incorporated </address>