<h1> <%= @cards.results %> </h1>
<br>
<br>
<h3> <%= @cards.c1 %>
<br> <br>
<%= @cards.c3 %>
<br> <br> <br>
<%= @cards.c2 %>
<br> </h3>
<br> <br> <br> <br>




<h2> <a href="/">Ready to play again?<a> </h2>