<br>
<h1> <%= @cards.results %> </h1>
<br>
<body bgcolor="#E6E6FA">
<br>
<% if @cards.c1.to_s == "1" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/5/57/Playing_card_heart_A.svg">
	  <% elsif @cards.c1.to_s == "2" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/d/d5/Playing_card_heart_2.svg">
	  <% elsif @cards.c1.to_s == "3" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/b/b6/Playing_card_heart_3.svg">
	  <% elsif @cards.c1.to_s == "4" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/a/a2/Playing_card_heart_4.svg">
	  <% elsif @cards.c1.to_s == "5" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/5/52/Playing_card_heart_5.svg">
	  <% elsif @cards.c1.to_s == "6" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/c/cd/Playing_card_heart_6.svg">
	  <% elsif @cards.c1.to_s == "7" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/9/94/Playing_card_heart_7.svg">
	  <% elsif @cards.c1.to_s == "8" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/5/50/Playing_card_heart_8.svg">
	  <% elsif @cards.c1.to_s == "9" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/5/50/Playing_card_heart_9.svg">
	  <% elsif @cards.c1.to_s == "10" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/9/98/Playing_card_heart_10.svg">
	  <% elsif @cards.c1.to_s == "11" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/4/46/Playing_card_heart_J.svg">
	  <% elsif @cards.c1.to_s == "12" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/7/72/Playing_card_heart_Q.svg">
	  <% elsif @cards.c1.to_s == "13" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/d/dc/Playing_card_heart_K.svg">
	 <% end %>
	 <% if @cards.c3.to_s == "1" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/5/57/Playing_card_heart_A.svg">
	  <% elsif @cards.c3.to_s == "2" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/d/d5/Playing_card_heart_2.svg">
	  <% elsif @cards.c3.to_s == "3" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/b/b6/Playing_card_heart_3.svg">
	  <% elsif @cards.c3.to_s == "4" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/a/a2/Playing_card_heart_4.svg">
	  <% elsif @cards.c3.to_s == "5" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/5/52/Playing_card_heart_5.svg">
	  <% elsif @cards.c3.to_s == "6" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/c/cd/Playing_card_heart_6.svg">
	  <% elsif @cards.c3.to_s == "7" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/9/94/Playing_card_heart_7.svg">
	  <% elsif @cards.c3.to_s == "8" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/5/50/Playing_card_heart_8.svg">
	  <% elsif @cards.c3.to_s == "9" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/5/50/Playing_card_heart_9.svg">
	  <% elsif @cards.c3.to_s == "10" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/9/98/Playing_card_heart_10.svg">
	  <% elsif @cards.c3.to_s == "11" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/4/46/Playing_card_heart_J.svg">
	  <% elsif @cards.c3.to_s == "12" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/7/72/Playing_card_heart_Q.svg">
	  <% elsif @cards.c3.to_s == "13" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/d/dc/Playing_card_heart_K.svg">
	 <% end %>

<br>
<h3> Your Card </h3>
<% if @cards.c2.to_s == "1" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/2/25/Playing_card_spade_A.svg">
	  <% elsif @cards.c2.to_s == "2" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/f/f2/Playing_card_spade_2.svg">
	  <% elsif @cards.c2.to_s == "3" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/5/52/Playing_card_spade_3.svg">
	  <% elsif @cards.c2.to_s == "4" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/a/a2/Playing_card_heart_4.svg">
	  <% elsif @cards.c2.to_s == "5" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/9/94/Playing_card_spade_5.svg">
	  <% elsif @cards.c2.to_s == "6" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/d/d2/Playing_card_spade_6.svg">
	  <% elsif @cards.c2.to_s == "7" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/6/66/Playing_card_spade_7.svg">
	  <% elsif @cards.c2.to_s == "8" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/2/21/Playing_card_spade_8.svg">
	  <% elsif @cards.c2.to_s == "9" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/e/e0/Playing_card_spade_9.svg">
	  <% elsif @cards.c2.to_s == "10" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/8/87/Playing_card_spade_10.svg">
	  <% elsif @cards.c2.to_s == "11" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/b/bd/Playing_card_spade_J.svg">
	  <% elsif @cards.c2.to_s == "12" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Playing_card_spade_Q.svg">
	  <% elsif @cards.c2.to_s == "13" %>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/9/9f/Playing_card_spade_K.svg">
	 <% end %>


<br>





<h2> <a href="/">Ready to play again?<a> </h2>
<br> <br> <br> <br>
<address> Luke and Alden Incorporated </address>